.navbar-cart{
    padding:10px;
    position: relative;
}
.navbar-cart .num{
    position: absolute;
    top:0;
    right: 0;
    display: inline-block;
    background-color: #d41556;
    color: #fff;
    border-radius:50%;
    padding:3px 7px;
    font-size:0.7rem;
    font-weight:700;
}