.bienvenida{
    color: #036303;
    text-align: center;
    margin:10vh 0;
    font-size:1.8rem;
}
.light,.dark{
    width: 100%;
    min-height:85vh;
    padding:5px 15px;
    position: relative;
}
.light{
    
    background-color: #e3f4cf;
    color: black;
}
.dark{
    background-color: black;
    color: white;
}
#btn-changeMode{
    position: absolute; 
    top:20px;
    right:20px;
}