.navbar-container{
    width:100%;
    min-height:10vh;
    background-color: #fffdf6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 35px;
}
.navbar-list li{
    list-style-type: none;
    display: inline-flex;
    font-size: 1.1rem;
    line-height:1;
    border-bottom:2px solid #036303;
    margin: 10px;
}
.navbar-logo img{
    height: 100%;
    max-height:65px;
}
.navbar-list li a{
    text-decoration:none;
    display: block;
    color: #036303; 
    transition:all 0.5s ease;
    padding: 10px 15px 7px;
}
.navbar-list li a:hover{
    background-color: #036303; 
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}